<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CodeIT</title>
</head>
<body>
  <h1>
    <%= greetings[greetings.length - 1].greeting %>
  </h1>
  <form action="/greetings" method="POST">
    <input type="text" placeholder="greeting" name="greeting">
    <button type="submit">Submit</button>
  </form>

  <form action="/greetings" method="POST">
    <input type="text" placeholder="greeting" name="greeting">
    <button type="submit">Submit</button>
  </form>

  <h2>List of greetings</h2>
  <ol class="greetings">
    <!-- Loop through -->
    <% for(var i = 0; i < greetings.length; i++) {%>
      <li class="greetings__item">
        <span><%= greetings[i].greeting %></span>
      </li>
    <% } %>
  </ol>
</body>
</html>